.accordion {
  &.box-black {
    .cmp-accordion__button {
      background-color: #000;
      border-bottom-color: #fff;
      &:hover {
        .cmp-accordion__title {
          color: #758492;
        }
      }
      .cmp-accordion__icon {
        &::after {
          background-color: #fff;
        }
      }
    }
    .cmp-accordion__title {
      color: #fff;
    }
    .cmp-accordion__panel {
      background-color: #000;
      .cmp-text {
        color: #fff;
      }
    }
  }
  &.box-white {
    .cmp-accordion__button {
      background-color: #fff;
      border-bottom-color: #758492;
      &:hover {
        .cmp-accordion__title {
          color: #758492;
        }
      }
      .cmp-accordion__icon {
        &::after {
          background-color: #000;
        }
      }
    }
    .cmp-accordion__title {
      color: #000;
    }
    .cmp-accordion__panel {
      background-color: #fff;
      .cmp-text {
        color: #000;
      }
    }
  }
  &.box-yellow {
    .cmp-accordion__button {
      background-color: #FCF16E;
      border-bottom-color: #FFCC33;
      &:hover {
        .cmp-accordion__title {
          color: #758492;
        }
        .cmp-accordion__icon {
          &::after {
            background-color: #758492;
          }
        }
      }
      .cmp-accordion__icon {
        &::after {
          background-color: #000;
        }
      }
    }
    .cmp-accordion__title {
      color: #000;
    }
    .cmp-accordion__panel {
      background-color: #FCF16E;
      .cmp-text {
        color: #000;
      }
    }
  }
}

.cmp-accordion__item {}
.cmp-accordion__header {}
.cmp-accordion__button--expanded {}

.cmp-accordion__icon {}
.cmp-accordion__panel--expanded {}
.cmp-accordion__panel--hidden {}