.cmp-accordion {}
.cmp-accordion__item {}
.cmp-accordion__header {}
.cmp-accordion__button {
  background-color: #000;
  &:hover {
    .cmp-accordion__title {
      color: #fff;
    }
  }
  .cmp-accordion__icon {
    &::after {
      background-color: #fff;
    }
  }
}
.cmp-accordion__button--expanded {}
.cmp-accordion__title {
  color: #fff;
}
.cmp-accordion__icon {}
.cmp-accordion__panel {
  .cmp-text {
    color: #fff;
  }
}
.cmp-accordion__panel--expanded {}
.cmp-accordion__panel--hidden {}